body {
    background-color: rgb(226, 232, 240);
}


.greeting-logo {
    max-width: 150px;
    margin-top: 8%;
}

.logo-under-text {
    max-width: 330px;
}

h1 {
    color: #001e4a;
}

p {
    font-size: 20px;
    color: #899bbd;
}

.get-started {
    text-decoration: none;
    color: #012970;
    font-size: 20px;
}

.card {
    background-color: rgb(226, 232, 240);
}

.description-font {
    font-size: 15px;
    color: #012970;
}

.align-left {
    text-align: left;
}

.nav-bar-background {
    background-color: #001e4a;
}

.bg-cubeta {
    background-color: rgb(226, 232, 240);
}

.text-cubeta {
    color: #001e4a;
    font-weight: bold;
}

.my-nav-active {
    background-color: rgb(226, 232, 240);
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
}

.btn-primary {
    background-color: #001e4a;
    border-color: #001e4a;
    font-size: 10px;
    width: 100px;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: rgb(226, 232, 240);
    color: #001e4a;
    border-color: rgb(226, 232, 240);
}

.form-control {
    max-height: 90%;
    font-size: 10px;
    font-weight: bold;
}

.form-select {
    max-height: 90%;
    font-size: 10px;
    font-weight: bold;
}

option {
    font-size: 10px;
    font-weight: bold;
}

button {
    font-weight: bold;
    background-color: #899bbd;
}

.nav-item {
    width: 85%;
}

.nav-link {
    text-decoration: none;
    color: inherit;
    outline: 0;
    font-weight: bold;
    font-size: 12px;
}

li.my-nav-active > a.nav-link {
    color: inherit !important;
}

li.nav-item:hover a.nav-link {
    color: inherit !important;
}

li.nav-item:hover {
    background-color: rgb(226, 232, 240);
    color: #001e4a;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
}

.notes {
    color: #001e4a;
    font-size: 13px;
    font-weight: bold;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #001e4a;
    border-color: #001e4a transparent #001e4a transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.modal-content {
    border: none; /* Remove the default border */
    box-shadow: none; /* Remove the default box shadow */
    border-radius: 15px; /* Remove the default border radius */
}

.modal-header {
    border-bottom: none; /* Remove the border from the header */
}

.modal-footer {
    border-top: none; /* Remove the border from the footer */
}



