@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Segoe UI", serif !important;
}

::-webkit-scrollbar {
    @apply w-[2px]
}

::-webkit-scrollbar-track {
    @apply shadow-md
}

::-webkit-scrollbar-thumb {
    @apply bg-gray-300 rounded-md
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-primary
}

.slide-sidebar-left {
    -webkit-animation: slide-sidebar-left 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-sidebar-left 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-sidebar-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        width: 30%;
    }
    100% {
        -webkit-transform: translateX(-500px);
        transform: translateX(-500px);
        width: 0;
    }
}

@keyframes slide-sidebar-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        width: 30%;
    }
    100% {
        -webkit-transform: translateX(-500px);
        transform: translateX(-500px);
        width: 0;
    }
}

.slide-sidebar-right {
    -webkit-animation: slide-sidebar-right 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: slide-sidebar-right 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes slide-sidebar-right {
    0% {
        @apply w-0
    }
    100% {
        @apply w-1/3
    }
}

@keyframes slide-sidebar-right {
    0% {
        @apply w-0
    }
    100% {
        @apply w-1/3
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}
